{% load static %}
<!-- Contact -->
  <div class="vg-page page-contact" id="contact">
    <div class="container-fluid">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Contatos</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">Entre em contato!</h1>
      <div class="row py-1">
        <div class="col-lg-5 mx-auto">

          <form class="vg-contact-form">
            <div class="form-row">
              <div class="col-12 mt-3 wow fadeInUp">
                <p style="text-align: left;" class="container"><strong>Whatsapp:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong><a href="https://wa.me/message/FE4M752E2XOKJ1" target="_blank">(71) 9409-6322</a></p>
                <p style="text-align: left;" class="container"><strong>E-mail:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong><a href="mailto:contato@williamv.com.br" target="_blank">contato@williamv.com.br</a></p>
                <p style="text-align: left;" class="container"><strong>LinkedIn:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</strong><a href="https://www.linkedin.com/in/william-gabriel-passos-vanus-9491a9224/" target="_blank">William Vanus</a></p>
                <p style="text-align: left;" class="container"><strong>Telegram:&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;&emsp;</strong><a href="https://t.me/william_vanus" target="_blank">@william_vanus</a></p>
              </div>

              <div class="col-12 mt-3 wow fadeInUp">
                <input class="form-control" type="text" name="Name" placeholder="Nome">
              </div>
              <div class="col-12 mt-3 wow fadeInUp">
                <input class="form-control" type="text" name="Email" placeholder="E-mail">
              </div>

              <div class="col-12 mt-3 wow fadeInUp">
                <textarea class="form-control" name="Message" rows="6" placeholder="Insira a mensagem aqui..."></textarea>
              </div>
              <button type="submit" style="width:100%" class="btn btn-theme mt-3 wow fadeInUp ml-1">Enviar mensagem</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- End Contact -->