{% load static %}
<!-- Contact -->
  <div class="vg-page page-contact" id="contact">
    <div class="container-fluid">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Contatos</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">Entre em contato!</h1>
      <div class="row py-5">

        <div class="col-lg-5">
          <form class="vg-contact-form">
            <div class="form-row">
              <div class="col-12 mt-3 wow fadeInUp">
                <input class="form-control" type="text" name="Name" placeholder="Nome">
              </div>
              <div class="col-12 mt-3 wow fadeInUp">
                <input class="form-control" type="text" name="Email" placeholder="E-mail">
              </div>

              <div class="col-12 mt-3 wow fadeInUp">
                <textarea class="form-control" name="Message" rows="6" placeholder="Insira a mensagem aqui..."></textarea>
              </div>
              <button type="submit" class="btn btn-theme mt-3 wow fadeInUp ml-1">Enviar mensagem</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- End Contact -->