{% load static %}
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>

  <script src="{% static 'vendor/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>

  <script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>

  <script src="{% static 'vendor/nice-select/js/jquery.nice-select.min.js' %}"></script>

  <script src="{% static 'vendor/fancybox/js/jquery.fancybox.min.js' %}"></script>

  <script src="{% static 'vendor/wow/wow.min.js' %}"></script>

  <script src="{% static 'vendor/animateNumber/jquery.animateNumber.min.js' %}"></script>

  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>

  <script src="{% static 'js/google-maps.js' %}"></script>

  <script src="{% static 'js/topbar-virtual.js' %}"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIA_zqjFMsJM_sxP9-6Pde5vVCTyJmUHM&callback=initMap"></script>

</body>
</html>
