{% load static %}
<!-- Portfolio page -->
  <div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Portfólio</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">Veja alguns de meus trabalhos</h1>
      <div class="gridder my-3">

        {% for portfolio in portfolios %}
        <a href="{{ portfolio.url }}" target="_blank">
          <div class="grid-item graphic ui-ux wireframes wow zoomIn">
            <img src="media/{{ portfolio.image.thumb }}" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">{{ portfolio.title }}</h5>
            </div>
          </div>
        </a>
        {% endfor %}

      </div> <!-- End gridder -->
    </div>
  </div> <!-- End Portfolio page -->