{% load static %}
<!-- Portfolio page -->
  <div class="vg-page page-portfolio" id="portfolio">
    <div class="container">
      <div class="text-center wow fadeInUp">
        <div class="badge badge-subhead">Portfólio</div>
      </div>
      <h1 class="text-center fw-normal wow fadeInUp">Veja alguns de meus trabalhos</h1>
      <div class="gridder my-3">
        <div class="grid-item apps wow zoomIn">
          <div class="img-place" data-src="{% static 'img/work/work-1.png' %}" data-fancybox data-caption="<h5 class='fg-theme'>Mobile Travel App</h5> <p>Travel, Discovery</p>">
            <img src="{% static 'img/work/work-1.png' %}" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Mobile Travel App</h5>
            </div>
          </div>
        </div>
        <div class="grid-item template wireframes wow zoomIn">
          <div class="img-place" data-src="{% static 'img/work/work-2.png' %}" data-fancybox data-caption="<h5 class='fg-theme'>Music App</h5> <p>Musics</p>">
            <img src="{% static 'img/work/work-2.png' %}" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Music App</h5>
            </div>
          </div>
        </div>
        <div class="grid-item apps ios wow zoomIn">
          <div class="img-place" data-src="{% static 'img/work/work-3.png' %}" data-fancybox data-caption="<h5 class='fg-theme'>Gaming Dashboard</h5> <p>Games, Streaming</p>">
            <img src="{% static 'img/work/work-3.png' %}" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Gaming Dashboard</h5>
            </div>
          </div>
        </div>
        <div class="grid-item graphic ui-ux wow zoomIn">
          <div class="img-place" data-src="{% static 'img/work/work-4.png' %}" data-fancybox data-caption="<h5 class='fg-theme'>Drugs Delivery App</h5> <p>Health, Drugs</p>">
            <img src="{% static 'img/work/work-4.png' %}" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Drugs Delivery App</h5>
            </div>
          </div>
        </div>
        <div class="grid-item apps ios wow zoomIn">
          <div class="img-place" data-src="{% static 'img/work/work-5.png' %}" data-fancybox data-caption="<h5 class='fg-theme'>Musics Discover</h5> <p>Musics, Dashboard</p>">
            <img src="{% static 'img/work/work-5.png' %}" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Musics Discover</h5>
            </div>
          </div>
        </div>
        <div class="grid-item graphic ui-ux wireframes wow zoomIn">
          <div class="img-place" data-src="{% static 'img/work/work-6.png' %}" data-fancybox data-caption="<h5 class='fg-theme'>Game Streaming</h5> <p>Games, Streaming</p>">
            <img src="{% static 'img/work/work-6.png' %}" alt="">
            <div class="img-caption">
              <h5 class="fg-theme">Game Streaming</h5>
            </div>
          </div>
        </div>
      </div> <!-- End gridder -->
    </div>
  </div> <!-- End Portfolio page -->